@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSans-Regular";
  src: url("/fonts/DMSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Medium";
  src: url("/fonts/DMSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

body {
  color: #161616;
}

.text-nouns {
  font-family: "Londrina Solid", sans-serif;
}

.text-nouns {
  font-family: "Londrina Solid", sans-serif;
}

.text-dm {
  font-family: DM Sans;
  font-family: "DM Sans";
}

.header {
  font-size: 14vw;
}

.text-2xs {
  font-size: 10px;
}

.credit:hover {
  filter: brightness(0);
}

.card:nth-child(even) {
  border-right: 0px;
}

p {
  font-family: DM Sans;
  font-family: "DM Sans";
}

.date {
  font-size: 13px;
  letter-spacing: 1px;
  color: #161616;
}

.poap-text {
  color: #3d3d3d;
}

.line {
  line-height: 1.8;
}

.hero {
  width: 500px;
  height: 500px;
  border: 10px solid white;
}

@media only screen and (max-width: 640px) {
  .hero {
    height: auto;
  }
}

@media only screen and (min-width: 640px) {
  .card-image {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .card-group:hover .card-image {
    visibility: visible;
    opacity: 1;
  }
}

.card:nth-last-child(2) {
  border-bottom: 1px solid rgba(253, 244, 95, 0.2);
}
