@tailwind base;
@tailwind components;
@tailwind utilities;

.text-nouns {
  font-family: "Londrina Solid", sans-serif;
}

.text-nouns {
  font-family: "Londrina Solid", sans-serif;
}

.text-dm {
  font-family: "DM Sans", sans-serif;
}

.header {
  font-size: 190px;
}

.card:nth-child(even) {
  border-right: 0px;
}
